@media screen and (min-width: 700px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #menu {
        display: none;
    }

    nav {
        margin: 0;
        max-width: none;
    }

    .navigation {
        flex-direction: row;
        box-shadow: none;
        gap: 1rem;
    }

    .navigation a {
        display: block;
        padding: 0.5rem 1rem;
    }
}