@media screen and (min-width: 700px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #menu {
        display: none;
    }

    nav {
        margin: 0;
        max-width: none;
    }

    .navigation {
        box-shadow: none;
        text-align: right;
    }

    .navigation li {
        display: inline-block;
    }

    .navigation a {
        display: inline-block;
        padding: 0.5rem 1rem;
    }
}